@use "./variables" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: $font-family;
}

body {
  color: $secondary-color;
  font-family: $font-family;
  margin: 0;
}

button,
input,
textarea,
select {
  font: inherit;
}
